@font-face {
    font-family: "Space Age";
    src: url(/coderelay/fonts/spaceage.ttf);
  }

  @font-face {
    font-family: "hacked";
    src: url(/coderelay/fonts/hacked.ttf);
  }
  
  @font-face {
    font-family: "HelveticaNeue";
    src: url(/coderelay/fonts/HelveticaNeue.ttf);
  }

  @font-face {
    font-family: "digital";
    src: url(/coderelay/fonts/digital.ttf);
  }

  @font-face {
    font-family: "aquire";
    src: url(/coderelay/fonts/Aquire-BW0ox.otf);
  }
  .space{
      font-family: "Space Age";
  }

  .hacked{
    font-family: "hacked";
  }

  .helvetica{
    font-family: "HelveticaNeue";
  }

  .digital{
    font-family: "digital";
  }
  
  .aquire{
    font-family: "aquire";
  }