@font-face {
  font-family: "Space Age";
  src: url(../fonts/spaceage.ttf);
}

.button1{
 background: url("assets/images/bg.png") no-repeat center;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 font-family: "Space Age";
}  
 .button1 a {
    font-size: 1.3rem;
    padding: 0.6rem 1.4rem;
    color: #f4f4f4;
    text-transform: uppercase;
  }
  
  .button1 .btn1 {
    text-decoration: none;
    border: 1px solid rgb(97, 98, 165);
    box-shadow: 1px 1px 25px 5px rgba(146, 148, 248, 0.4);
  }
