.test-cases {
    margin-top: 20px;
    border-radius: 15px;
    background-color: white;
    border: 10px solid rgb(230, 227, 227);
    padding: 20px 20px;
}x
.code-div {
    width: 100%;
    padding: 0px !important;
    background-color: rgb(230, 227, 227);
}
#editor { 
    float: left;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}
#run {
    border: none;
    background: #00071d;
}
#editor-menu {
    width: 100%;
    box-sizing: border-box;
    background: #00071d;
}
#editor-menu select {
    background-color: rgb(16, 31, 63);
    color: rgb(255, 255, 255);
    margin: 13px;
    margin-right: 55%;
    margin-left: 0px;
}
#prolang {
    margin-left: 0px !important;
}
#editor-menu #run {
    float: right;
    margin: 10px;
    margin-right: 40px;
}
#run img {
    width: 25px;
    height: auto;
}

@media(max-width: 767px) {
    #prolang, #theme {
        margin-left: 20px !important;
    }
    #theme {
        margin-right: 0px !important;
    }
    #screen, #run {
        margin-right: 20px !important;
    }
    #run {
        margin-left: 0px !important;
    }
}

@media(max-width: 470px) {
    #editor {
        font-size: 10px;
    }
    #screen-img, #run-img {
        width: 20px !important;
    }
    #prolang, #theme{
        font-size: 12px;
    }
    .container-fluid, .body-container {
        padding: 0px !important;
    }
    #prolang {
        margin-left: 10px !important;
    }
    #theme {
        margin-left: 0px !important;
    }
    #screen {
        margin-right: 10px !important;
        margin-left: 0px !important;
    }
    #run {
        margin-right: 0px !important;
    }
} 